<section class="slider_section ">
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-7 col-lg-6 ">
                            <div class="detail-box">
                                <h1>
                                    Hoş Geldiniz!
                                </h1>
                                <p>
                                    G&D Restaurant, lezzetli yemekleri ve sıcak atmosferi ile sizleri ağırlamaktan mutluluk duyar.
                                    Kaliteli malzemelerle hazırlanan menümüzde, damak zevkinize uygun birçok seçenek sizi bekliyor.
                                    Gelin, G&D'nin eşsiz lezzetlerini keşfedin ve unutulmaz bir gastronomik deneyime adım atın.
                                </p>
                                <div class="btn-box">
                                    <a href="/Menu/Index/" class="btn1">
                                        Sipariş
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-7 col-lg-6 ">
                            <div class="detail-box">
                                <h1>
                                    Lezzetin Adı: G&D
                                </h1>
                                <p>
                                    Gurme damaklara hitap eden G&D Restaurant, özenle seçilmiş malzemelerle hazırlanan özgün tarifleriyle öne çıkıyor. 
                                    Her bir tabak, lezzetin en ince ayrıntılarına kadar düşünülerek sizin için özel olarak sunuluyor.
                                    G&D'de yemek, bir zevk şölenine dönüşüyor.
                                </p>
                                <div class="btn-box">
                                    <a href="/Menu/Index/" class="btn1">
                                        Sipariş
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-7 col-lg-6 ">
                            <div class="detail-box">
                                <h1>
                                    Keyifli Bir Mola
                                </h1>
                                <p>
                                    G&D Restaurant, güler yüzlü hizmeti ve ferah ortamıyla sizlere keyifli bir mola vadeder.
                                    Her öğünü bir etkinlik haline getiren G&D, dostlarınızla, ailenizle veya iş arkadaşlarınızla bir araya gelerek lezzetli bir deneyim yaşamanızı sağlar.
                                    G&D, sadece bir restoran değil, keyifli anıların adresidir.
                                </p>
                                <div class="btn-box">
                                    <a href="/Menu/Index/" class="btn1">
                                        Sipariş
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <ol class="carousel-indicators">
                <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
                <li data-target="#customCarousel1" data-slide-to="1"></li>
                <li data-target="#customCarousel1" data-slide-to="2"></li>
            </ol>
        </div>
    </div>

</section>
</div>